<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.date %}
  <meta name="pubdate" content="{{ page.date | date: "%Y%m%d" }}">
  {% endif %}
  {% if page.author %}
  <meta name="author" content="{{ page.author }}">
  {% endif %}
  <meta name="robots" content="index,follow">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ "/images/rose-57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/rose-72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/rose-114.png" | prepend: site.baseurl }}">
<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM$7777777777777777$$MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMO$7IIII?????I?III77777$$$$ZMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM7777III??+++++++???III7777$$$ZZZMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMM7$77III???+++======+++??IIII77$$$ZZZZMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMM7777III???++=====~~?====++???III77$$$$ZZZMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMM8$77III??+++====~~~~=O7~~===+++???II77$$$$ZZZMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMM777II???+++=====~~~~~?8=~~~~====++???I777$$$$ZZDMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMM$77III??++======~~~~~~~OD+==========++??II777$$$$ZZMMMMMMMMMMMMMMM
MMMMMMMMMMMMM77III???++=====~~~~~~===ONI+========+++??IIII7777$$$$MMMMMMMMMMMMMM
MMMMMMMMMMMM777III???+++===========++8ND???+++===+++???=?IIIII7777$NMMMMMMMMMMMM
MMMMMMMMMMM$$777II???+++++=======++?INMN$7II?+++++++??==+II???III777ZMMMMMMMMMMM
MMMMMMMMMMZ$$7777II???+++++++++++?I7ZNMMZZ$I~???++++?+?+?II~~???II777ZMMMMMMMMMM
MMMMMMMMMZZ$$77777II????++++?+???I7ZONMMZ$$I7I~?=???I$$?II=?I:~IIII777ZMMMMMMMMM
MMMMMMMM$==ZOO$777II??????+????II7$Z8MMMZ77OO==?I$$7++7$+I+$+=++==III77NMMMMMMMM
MMMMMMMZZ77~~O$Z77II???+?????????I7$DMMMOD?+$87IZZ77I=I+D7+~~~7OZ=??II77MMMMMMMM
MMMMMM$$7ZO??~:$ZZI?++============+IMMMM8N:::8O~8Z$7OOO7~O$+=~~==?=+??II7MMMMMMM
MMMMMN777II$O$D:,7$$+=~~~:::::::::=7MMMMNN:,,Z8Z~8DODDD8I88OOZ?::~=+++??IIMMMMMM
MMMMM77III???$7Z+:,7$$=:,,,,,,,,,,=MMMMMNM:,,$D8ZOOONMNZDZ8D?$=I+?==++++??MMMMMM
MMMM77II?????++$I=~,,7$7=,,,,,,,,,7MMMMMMM:,,I8NNND8NM87OZ$$+NDZOZ+$=++++??MMMMM
MMMMIII???++++===7?=~,,IZ7?,,,,,,:DMMMMMMM,,,,~$88OZ$$NONNDOZZO8D$Z8I==+++??MMMM
MMMII???+++++===~~~I++~,,7Z7I,,,,=MMMMMMMM~,,,,+$7~DD~~MMMZ??$8DO$?Z?:++++??MMMM
MMMI????++++===~~~:::7??=,,IOI$:,?MMMMMMMMZ:,,I$NNDNN88~$$=8DMND7=I+=~?+???I7MMM
MMII?????++++===~~::::+$??+:,?O7ZNMMMMMMMMM7,,=,,,I888OO$??,O$I~OD87+?IIII77$MMM
MMIII??????+++===~~::,~OMZ?I=,:I87OMMMMMMMMD,,:.,I87DN888OZ?~:7===~?+?$$$$$$$8MM
M77IIII?????+++===~::,,:=NNZ?I=:,I8$ZMMMMMMN~,.,7Z,,8NN:DDDO87O8DOZZ=7$ZZZZ$$$MM
M7777IIIII????+++=~~::,,$$=DM$II=::I8$ZNMMMM+~,$O,,,,ZI,8Z8DZ7III?==II7$ZZ$$$$MM
M$$777IIIIII??+++==~~::,,,,,~8MZII=::?8Z7DMM787Z,,,,:~,,77?I$7I???????I77777IIZM
N$$777IIIII???++===~~:::,,,,,,,8MZ$7+::?8OI88ID,,,,,,,,,,?==+??I?+++=+???I?????M
$$777IIIII??++===~~~::::,,,,,,,M$DMO$$+::I8O?ZM,,,,,,,,,,,~~~~~~=======++++++++M
7777III???+++=~~~:::::,,,,,,,,,MIMMDM8Z$?::?8OIZ,,,,,,,,,,,::~=~~~~~~~=====++++M
777II???++===~:::::,,,,,,,,,,,,MOMMMMNMOZZI::?88IZI=,,,,,,,,,::::::~~~~======++M
7III??+++==~~:::,,,,,,,,,,,,,,:MMMMMMMMNM8OO7==I8~IIZ7,,,,,,,,,,:::~~~~~=======?
III???++===~~::,,,,,,,,,,?,,,:8MMMMMMMONMDND8DZ++D?:?:Z7,,,,,,,,::::~~~~~~======
II????+++===~~I:,,,,,,,$8$,,,=MMMMMMDZMMMMMDDDOO7:~DZ~O:Z7::,,::::::::~~~~~~~===
I??????++++==$ZZ:,,,,:OOZZ,,,IMMMMMNZMMMMMMMMI:=O8$O7ND:$=Z7~:::::::::::~~~=====
??????????++IO8OZ7,,,O887I?,=8MMMMM7MMMMMMMMM88I~=NN7~?DN788777~~~~~~~~~~~~===++
???????????+OZ$7$O~,,OOOZ7?,,MMMMM$NMMMMMMMMM=78DM=$=8$:~DD8DMI$$=~~~========+++
????????????OO8ZOO$:,O8OZZ+,,DMMMDOMMMMMMMMMN7$=MN$I?7+N$~=DDDDNI?7+++++===+++++
????????++++?O888OI:::O8Z7,,,MMMN$MMMMMMMMMMDZ7MDZ8NO~$NM8ZM=OZ$$ZN$++++++++++++
????????++++==?OOZ~::,,=,,,,,MMM$MMMMMMMMMMMN8Z?N,NODND=~+8N8D+$ZOII8+??+++++++$
????????++===~~~~$::::,,,,,,,NM8MMMMMMMMMMMMMMZ$Z+M=NODND?=+MI$OD$N7777$$O+++++M
IIIIIII??++====~~~=::::,,,,,~N8NMMMMMMMMMMMMMMM~$$$7NNNDNDNN+ZNMN,Z$Z7$$I????++M
7777777III???+++===~~::,,,,,=ONMMMMMMMMMMMMMMMMMO77$$$$NDNO?,+DN$D7?+?II???????M
M$$$$$$$7777II??++===::,,,,,88MMMMMMMMMMMMMMMMMMZM=7I7Z$I+NO8DDN877=++?????????M
MZZZZZZZZZ$$$$7I??++=~$,,,,,8DMMMMMMMMMMMMMMMMMM7OD?I?7$Z7I?77Z7O=====+++?????8M
MZZZOOOOOOOZZ$$7II??+=~::,::8NMMMMMMMMMMMMMMMMM7DM::M+I+7$78ZDI?7=====++???IIIMM
M8ZOOOOOOOOOOZ$$II???+=:::::OMMMMMMMMMMMMMMMMM7MMM:::M~I++II++=I+=====+??II777MM
MMOOOOOOOOOOOZZ8OZ8888N8~:~8NMMMMMMMMMMMMMMMMM7MMM::,:DN?7II$888D===++??I77$$NMM
MMZZOOOOOOO88Z88Z$O888+=~IODMMMMMMMMMMMMMMMMMMM$MM~::$=8I~+OZ$$ZOZD==+?D7$$ZZMMM
MMMZOOODOZ8DD8888888Z+++NO8+MMMMMMMMD8888NMMMMMMZN?~::?8$+D8Z7777ZDD??DD8$ZZOMMM
MMMZZZ8DZZDD88Z7III???++D7M=MMMMMD88O78OO88MMMMMMMZ777~~~~NDO7I?II$DNODDDZZZMMMM
MMMMZZDD8DDDDDZ$7IIII?++8OM=NMMMD8888OO7Z888NMMMMMM?~:~~~~=D8ZIII?+$NDDDDDOOMMMM
MMMMZ8DDDDDDDDD$$$777??+Z+M=NNMMMMD888888MMMMMMMMMMD~~~~~I=ND8Z??+=:8NDDDDDMMMMM
MMMMMDDDDDDDDDDD$$$$7I?7ONM?MMMMMMMMMMMMMMMMMMMMMMMM=~~~ZD=DD8ZI??+=OMDDDDMMMMMM
MMMMMMDDDDDDDDDDZ$Z$78?8DDMNMMMMMMMMMMMMMMMMMMMMMMMN=?==8D+ND8OI????8MDDDDMMMMMM
MMMMMMDDDDDDDDDDDDD$88DODDMNMMMMMMMMMMMMMMMMMMMMMMMMDO~8DDIND8ZI??7ZDMDDDMMMMMMM
MMMMMMMDDDDDDDDDDD8D88ZDDDMNMMMMMMMMMMMMMMMMMMMMMMMMN$DDDDNND8$?II$ONNDDMMMMMMMM
MMMMMMMMDDDDDDDDDDDD8DDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMNDDDDNND8O7I?$ZDNDDMMMMMMMMM
MMMMMMMMMDDDDDDDDDDDD8NDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDNNDDO$?I7O8NNDMMMMMMMMMM
MMMMMMMMMMDDDDDDDDDDNZDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMDNNNDDO7??IZ8DNMMMMMMMMMMMM
MMMMMMMMMMMDDDDDDDDDZ8DDDNMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNDDO7??I7ODNNMMMMMMMMMMMM
MMMMMMMMMMMMDDDDDDDDDDDDDNMMMMMMMMMMMMMMMMMMMMMMMMMMDDMNDO$7IIIZ8DNMMMMMMMMMMMMM
MMMMMMMMMMMMMDDDDDDDDDDDDNMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDNO7III$ODDMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMDDDDDDDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDDDN877O8DMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMDDDDDDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMNDDDDDDDDNDMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMDDDDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDDDDDNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMDDDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDDDDMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMDDDMMMMMMMMMMMMMMMMMMMMMMMMMMMMDDDDDMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMDMMMMMMMMMMMMMMMMMMMMMMMMMMMMD8MMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
*************************There are other worlds than these**********************
-->
</head>
